

  p {
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  h5 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 20px;
    line-height: 150%;
    
  }

  h4 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 24px;
    line-height: 150%;
    
  }

  h2{
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 40px;
  }
  a{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0%;
  }

  .btnGet{
    background: #ed4d1a;
    font-family: 'Poppins-Bold-normal', sans-serif;
    color: #fff;
    
    
  }

  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-container {
    position: relative;
  }
  
  input {
    padding-right: 30px; /* space for the icon */
  }

  .form-control.is-invalid{
    background-image: none;
}