<div class="image-container">
  <!-- <img class="panel-img" src="../../assets/Images/Image 1.png" alt="Panel Image"> -->
  <i class="fa-solid fa-envelope fa-beat fa-xl" style="color: #ed4d1a;font-size: 75px;"></i>
</div>

<div class="email-page-wrapper">
  <div class="email-container">
    <p class="check-email-text">Check your emails</p>
  </div>

  <div class="confirmation-container">
    <p class="email-confirmation-text">
      To complete your account application, please check your email for a confirmation link.<br>
      Click the link to verify your account and get started.<br>
      If you don't see it in your inbox, be sure to check your spam or junk folder.<br>
      Thanks for joining Medisca.
    </p>
  </div>

  <div class="button-container">
    <button class="btn btn-orange" routerLink="/ThankYou">Next</button>

  </div>
</div>