<div class="thankyou-wrapper">
    <div class="image-container">
      <!-- <img class="panel-img" src="../../assets/Images/thank-tick.png" alt="Success Icon" /> -->
      <i class="fa-solid fa-circle-check fa-beat-fade fa-xl" style="color: #ed4d1a;font-size: 75px;"></i>
    </div>
  
    <div class="email-container">
      <p class="check-email-text">Thank you</p>
    </div>
  
    <div class="confirmation-container">
      <p class="email-confirmation-text">
        You have successfully confirmed your account. Please login.<br>
        If you need immediate assistance, please contact us.
      </p>
    </div>
  
    <div class="contact-info">
      <div class="contact-item">
       <span> <img src="../../assets/Images/Image 2.png" alt="Phone Icon" /> 1-800-665-6334</span>
      </div>
      <div class="contact-item">
        <span><i class="fa-solid fa-envelope"></i> MCA-CustomerServices@medisca.com</span>
      </div>
    </div>
  </div>
  