<div class="container-fluid bg-light custom-box">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 text-center text-md-start">
        <p class="account">Create an Account</p>
        <p class="custom-message">
          Please take a moment to indicate whether you're a new customer or an existing<br />
          Medisca customer without online shopping access.<br />
          We are here to help you get started.
        </p>
        <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start gap-5 mt-3">
          <button class="btn btn-orange" routerLink="/BusinessForm">I am a new customer</button>
          <button class="btn btn-existing">I am an existing customer</button>
        </div>
      </div>
    </div>
  </div>
  