<div class="account-banner container-fluid">
  <div class="row w-100 align-items-center">
    <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
      <h1 class="account-title">Create your account<br />today</h1>
    </div>
    <div class="col-lg-6 col-md-12 text-center text-lg-start">
      <p class="custom-message">
        Please take a moment to indicate whether you're a new customer or an
        existing Medisca customer without online shopping access. <br />
        We are here to help you get started.
      </p>
      <div class="button-group">
        <button class="btn btn-orange" routerLink="/BusinessForm">I am a new customer</button>
        <button class="btn btn-existing">I am an existing customer</button>
      </div>
    </div>
  </div>
</div>
