<div class="tab-wrapper">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="tabbed-interface">
      <mat-tab label="Personal Information">
        <div class="tab-content"><app-business-form></app-business-form></div>
      </mat-tab>
      <mat-tab label="Personal Information">
        <div class="tab-content"><app-create-account-form></app-create-account-form></div>
      </mat-tab>
      <mat-tab label="Review & Submit">
        <div class="tab-content"><app-thank-you></app-thank-you></div>
      </mat-tab>
    </mat-tab-group>
  </div>
  