.btn-orange,
.btn-existing {
  width: auto;
  min-width: 210px;
  background-color: #ED4D1A;
  color: white;
  border: 1px solid #ED4D1A;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.btn-orange:hover,
.btn-existing:hover {
  background-color: #d84315;
  border-color: #d84315;
}
.form-container {
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  color: #5E5D5D;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
  border: 1px solid #BDC1CA;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 16px;
  box-sizing: border-box;
}

input.error {
  border-color: red;
  color: red;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  min-width: 250px;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  align-self: baseline;

}


.submit-btn {
  background-color: #ed4d1a;
  color: #fff;
  border: none;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #ed4d1a;
}

.term{
  align-self: baseline;

}

@media (max-width: 576px) {
  .form-row {
    flex-direction: column;
  }
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}



  